USE [master]
GO
/****** Object:  Database [AstralisCinema]    Script Date: 3/31/2020 9:16:43 AM ******/
CREATE DATABASE [AstralisCinema]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AstralisCinema', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\AstralisCinema.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AstralisCinema_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\AstralisCinema_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AstralisCinema].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AstralisCinema]
GO
/****** Object:  Table [dbo].[account]    Script Date: 3/31/2020 9:16:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[account](
	[email] [nvarchar](50) NOT NULL,
	[password] [nvarchar](50) NULL,
	[ten] [nvarchar](50) NULL,
	[sdt] [nvarchar](50) NULL,
	[diaChi] [nvarchar](50) NULL,
	[sinhNhat] [datetime] NULL,
	[star] [int] NULL,
	[tenQuyen] [nvarchar](50) NULL,
	[noiLamViec] [nvarchar](50) NULL,
 CONSTRAINT [PK_account] PRIMARY KEY CLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[discount]    Script Date: 3/31/2020 9:16:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ARITHABORT ON
GO
CREATE TABLE [dbo].[discount](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[luaTuoi] [nvarchar](20) NULL,
	[star] [int] NULL,
	[ngayBatDau] [datetime] NULL,
	[ngayHetHan] [datetime] NULL,
	[soTienDuocGiam] [int] NULL,
	[loaiDiscount] [nvarchar](20) NULL,
	[maDiscount]  AS ([loaiDiscount]+right('000'+CONVERT([varchar](7),[ID]),(7))) PERSISTED NOT NULL,
 CONSTRAINT [PK_discount] PRIMARY KEY CLUSTERED 
(
	[maDiscount] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[donHangVe]    Script Date: 3/31/2020 9:16:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[donHangVe](
	[donHangVeID] [int] IDENTITY(1,1) NOT NULL,
	[email] [nvarchar](50) NULL,
	[tenKhachHang] [nvarchar](50) NULL,
	[tongTien] [int] NULL,
	[maDiscount] [nvarchar](27) NULL,
	[nhanVeRoi] [bit] NULL,
	[soTienSauDiscount] [int] NULL,
	[series]  AS ('ticketcode'+right('000'+CONVERT([varchar](7),[donHangVeID]),(7))) PERSISTED NOT NULL,
	[rap] [nvarchar](50) NULL,
 CONSTRAINT [PK_donHangVe] PRIMARY KEY CLUSTERED 
(
	[donHangVeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ghe]    Script Date: 3/31/2020 9:16:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ghe](
	[gheID] [nvarchar](5) NOT NULL,
	[loaiGhe] [nvarchar](20) NULL,
 CONSTRAINT [PK_ghe] PRIMARY KEY CLUSTERED 
(
	[gheID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[giaVeCuaGhe]    Script Date: 3/31/2020 9:16:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[giaVeCuaGhe](
	[gheID] [nvarchar](5) NOT NULL,
	[tenPhim] [nvarchar](50) NOT NULL,
	[tenRap] [nvarchar](50) NOT NULL,
	[khanDaiID] [nvarchar](50) NOT NULL,
	[ngayChieu] [datetime] NOT NULL,
	[suatChieu] [nvarchar](50) NOT NULL,
	[giaVeCuaGhe] [int] NULL,
	[trangThai] [nvarchar](50) NULL,
 CONSTRAINT [PK_giaVeCuaGhe_1] PRIMARY KEY CLUSTERED 
(
	[gheID] ASC,
	[tenRap] ASC,
	[khanDaiID] ASC,
	[ngayChieu] ASC,
	[suatChieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[keHoachVe]    Script Date: 3/31/2020 9:16:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[keHoachVe](
	[tenPhim] [nvarchar](50) NOT NULL,
	[tenRap] [nvarchar](50) NOT NULL,
	[khanDaiID] [nvarchar](50) NOT NULL,
	[ngayChieu] [datetime] NOT NULL,
	[suatChieu] [nvarchar](50) NOT NULL,
	[loaiPhim] [nvarchar](50) NULL,
	[phuDe] [bit] NULL,
 CONSTRAINT [PK_keHoachVe_1] PRIMARY KEY CLUSTERED 
(
	[tenRap] ASC,
	[khanDaiID] ASC,
	[ngayChieu] ASC,
	[suatChieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[phim]    Script Date: 3/31/2020 9:16:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[phim](
	[tenPhim] [nvarchar](50) NOT NULL,
	[daoDien] [nvarchar](50) NULL,
	[dienVien] [nvarchar](150) NULL,
	[theLoai] [nvarchar](50) NULL,
	[noiDung] [nvarchar](200) NULL,
	[namSanXuat] [nvarchar](10) NULL,
	[quocGia] [nvarchar](50) NULL,
	[thoiLuong] [nvarchar](50) NULL,
	[poster] [nvarchar](200) NULL,
	[ngonNgu] [nvarchar](20) NULL,
	[ngayKhoiChieu] [datetime] NULL,
	[trailer] [nvarchar](200) NULL,
	[trangThai] [nvarchar](10) NULL,
 CONSTRAINT [PK_phim] PRIMARY KEY CLUSTERED 
(
	[tenPhim] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[rap]    Script Date: 3/31/2020 9:16:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rap](
	[tenRap] [nvarchar](50) NOT NULL,
	[viTri] [nvarchar](90) NULL,
 CONSTRAINT [PK_rap] PRIMARY KEY CLUSTERED 
(
	[tenRap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[thucPham]    Script Date: 3/31/2020 9:16:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[thucPham](
	[tenThucPham] [nvarchar](50) NOT NULL,
	[donVi] [nvarchar](50) NULL,
	[soLuong] [int] NULL,
	[poster] [nvarchar](50) NULL,
	[tenRap] [nvarchar](50) NOT NULL,
	[giaNhap] [int] NULL,
	[giaBan] [int] NULL,
 CONSTRAINT [PK_thucPham_1] PRIMARY KEY CLUSTERED 
(
	[tenThucPham] ASC,
	[tenRap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ve]    Script Date: 3/31/2020 9:16:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ve](
	[tenPhim] [nvarchar](50) NOT NULL,
	[tenRap] [nvarchar](50) NOT NULL,
	[khanDaiID] [nvarchar](50) NOT NULL,
	[ngayChieu] [datetime] NOT NULL,
	[suatChieu] [nvarchar](50) NOT NULL,
	[gheID] [nvarchar](5) NOT NULL,
	[giaVe] [int] NULL,
	[donHangID] [int] NULL,
 CONSTRAINT [PK_ve_1] PRIMARY KEY CLUSTERED 
(
	[tenRap] ASC,
	[khanDaiID] ASC,
	[ngayChieu] ASC,
	[suatChieu] ASC,
	[gheID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[account] ([email], [password], [ten], [sdt], [diaChi], [sinhNhat], [star], [tenQuyen], [noiLamViec]) VALUES (N'best@.com', N'01051999', N'Kieu Minh Duc', N'0377398442', N'Son Tay,Ha Noi', CAST(N'2020-03-19T00:00:00.000' AS DateTime), NULL, N'banve', N'XuHo')
INSERT [dbo].[account] ([email], [password], [ten], [sdt], [diaChi], [sinhNhat], [star], [tenQuyen], [noiLamViec]) VALUES (N'ducdz@gmail.com', N'01051999', N'Kieu Minh Duc', N'0377398442', N'Ha Noi', CAST(N'1999-05-01T00:00:00.000' AS DateTime), 0, N'nguoidung', NULL)
INSERT [dbo].[account] ([email], [password], [ten], [sdt], [diaChi], [sinhNhat], [star], [tenQuyen], [noiLamViec]) VALUES (N'Hola@gmail.com', N'01051999', N'Kieu Minh Duc', N'0377398442', N'Son Tay,Ha Noi', CAST(N'1999-05-01T00:00:00.000' AS DateTime), NULL, N'quanlyrap', N'Hola')
SET IDENTITY_INSERT [dbo].[discount] ON 

INSERT [dbo].[discount] ([ID], [luaTuoi], [star], [ngayBatDau], [ngayHetHan], [soTienDuocGiam], [loaiDiscount]) VALUES (14, N'6-7', 3, CAST(N'2020-03-07T16:40:22.863' AS DateTime), CAST(N'2020-08-07T16:40:22.000' AS DateTime), 4, N'F&T')
INSERT [dbo].[discount] ([ID], [luaTuoi], [star], [ngayBatDau], [ngayHetHan], [soTienDuocGiam], [loaiDiscount]) VALUES (19, N'11-20', 0, CAST(N'2020-03-22T15:24:56.000' AS DateTime), CAST(N'2020-03-28T15:24:56.000' AS DateTime), 10000, N'F&T')
INSERT [dbo].[discount] ([ID], [luaTuoi], [star], [ngayBatDau], [ngayHetHan], [soTienDuocGiam], [loaiDiscount]) VALUES (10, N'10-23', 8, CAST(N'2020-03-07T16:36:31.427' AS DateTime), CAST(N'2020-09-07T16:36:31.000' AS DateTime), 9, N'FOOD')
SET IDENTITY_INSERT [dbo].[discount] OFF
SET IDENTITY_INSERT [dbo].[donHangVe] ON 

INSERT [dbo].[donHangVe] ([donHangVeID], [email], [tenKhachHang], [tongTien], [maDiscount], [nhanVeRoi], [soTienSauDiscount], [rap]) VALUES (37, NULL, N'Le Phuong Chi', 1650000, N'F&T00019', 1, 1640000, N'Hola')
INSERT [dbo].[donHangVe] ([donHangVeID], [email], [tenKhachHang], [tongTien], [maDiscount], [nhanVeRoi], [soTienSauDiscount], [rap]) VALUES (38, NULL, N'Duc dz', 510000, N'', 1, 510000, N'Hola')
INSERT [dbo].[donHangVe] ([donHangVeID], [email], [tenKhachHang], [tongTien], [maDiscount], [nhanVeRoi], [soTienSauDiscount], [rap]) VALUES (39, NULL, N'donald trump ', 300000, N'TICKET00018', 1, 290000, N'Hola')
SET IDENTITY_INSERT [dbo].[donHangVe] OFF
INSERT [dbo].[ghe] ([gheID], [loaiGhe]) VALUES (N'0a', N'phothong')
INSERT [dbo].[ghe] ([gheID], [loaiGhe]) VALUES (N'0b', N'phothong')
INSERT [dbo].[ghe] ([gheID], [loaiGhe]) VALUES (N'0c', N'phothong')
INSERT [dbo].[giaVeCuaGhe] ([gheID], [tenPhim], [tenRap], [khanDaiID], [ngayChieu], [suatChieu], [giaVeCuaGhe], [trangThai]) VALUES (N'0a', N'NHÍM SONIC', N'Hola', N'A', CAST(N'2020-03-24T00:00:00.000' AS DateTime), N'16-18', 50000, N'chua')
INSERT [dbo].[giaVeCuaGhe] ([gheID], [tenPhim], [tenRap], [khanDaiID], [ngayChieu], [suatChieu], [giaVeCuaGhe], [trangThai]) VALUES (N'0a', N'BLOODSHOT', N'Hola', N'A', CAST(N'2020-03-25T00:00:00.000' AS DateTime), N'8-10', 100000, N'chua')
INSERT [dbo].[giaVeCuaGhe] ([gheID], [tenPhim], [tenRap], [khanDaiID], [ngayChieu], [suatChieu], [giaVeCuaGhe], [trangThai]) VALUES (N'0a', N'CUỐC XE NỬA ĐÊM', N'Hola', N'A', CAST(N'2020-03-26T00:00:00.000' AS DateTime), N'8-10', 100000, N'chua')
GO
INSERT [dbo].[keHoachVe] ([tenPhim], [tenRap], [khanDaiID], [ngayChieu], [suatChieu], [loaiPhim], [phuDe]) VALUES (N'NHÍM SONIC', N'Hola', N'A', CAST(N'2020-03-24T00:00:00.000' AS DateTime), N'16-18', N'3D', 1)
INSERT [dbo].[keHoachVe] ([tenPhim], [tenRap], [khanDaiID], [ngayChieu], [suatChieu], [loaiPhim], [phuDe]) VALUES (N'BLOODSHOT', N'Hola', N'A', CAST(N'2020-03-25T00:00:00.000' AS DateTime), N'8-10', N'3D', 1)
INSERT [dbo].[keHoachVe] ([tenPhim], [tenRap], [khanDaiID], [ngayChieu], [suatChieu], [loaiPhim], [phuDe]) VALUES (N'CUỐC XE NỬA ĐÊM', N'Hola', N'A', CAST(N'2020-03-26T00:00:00.000' AS DateTime), N'8-10', N'3D', 1)
INSERT [dbo].[phim] ([tenPhim], [daoDien], [dienVien], [theLoai], [noiDung], [namSanXuat], [quocGia], [thoiLuong], [poster], [ngonNgu], [ngayKhoiChieu], [trailer], [trangThai]) VALUES (N'BLOODSHOT', N'Dave Wilson', N'Vin Diesel, Eiza González', N'Hành Động', N'Ray Garrison là một sĩ quan cấp cao đã hy sinh trong một trận chiến', N'2019', N'Mi', N'110', N'\images\bloodshot.png', N'ANh', CAST(N'2020-03-05T00:00:00.000' AS DateTime), N'https://www.youtube.com/embed/vOUVVDWdXbo', N'dang')
INSERT [dbo].[phim] ([tenPhim], [daoDien], [dienVien], [theLoai], [noiDung], [namSanXuat], [quocGia], [thoiLuong], [poster], [ngonNgu], [ngayKhoiChieu], [trailer], [trangThai]) VALUES (N'CUỐC XE NỬA ĐÊM', N'Nguyễn Nguyên Hoàng', N'Hoàng Yến Chibi, Quách Ngọc Tuyên, Trương Minh Quốc Thái', N'Hành Động', N'“Cuốc xe nửa đêm” kể về câu chuyện của Thư (Hoàng Yến Chibi) và Sỹ (Quách Ngọc Tuyên),', N'2019', N'Viet Nam', N'88', N'\images\hy-cuoc-xe-nua-dem-1.jpg', N'Tiếng Việt', CAST(N'2020-02-20T00:00:00.000' AS DateTime), N'https://www.youtube.com/embed/xY56zZsik-g', N'dang')
INSERT [dbo].[phim] ([tenPhim], [daoDien], [dienVien], [theLoai], [noiDung], [namSanXuat], [quocGia], [thoiLuong], [poster], [ngonNgu], [ngayKhoiChieu], [trailer], [trangThai]) VALUES (N'Kẻ cắp Mặt trăng', N'pierre coffin,kyle balda', N'khong co', N'Hoạt Hình', N'Câu chuyện kể về các MINION trước khi gặp chủ nhân Gru ', N'2015', N'mi', N'91', N'\images\minion.jpg', N'anh', CAST(N'2020-04-04T00:00:00.000' AS DateTime), N'https://www.youtube.com/embed/b_-dgO63ORs', N'dang')
INSERT [dbo].[rap] ([tenRap], [viTri]) VALUES (N'Hola', N'Hòa Lạc')
INSERT [dbo].[rap] ([tenRap], [viTri]) VALUES (N'wuhan', N'TQ')
INSERT [dbo].[rap] ([tenRap], [viTri]) VALUES (N'XuHo', N'Xuân Hòa')
INSERT [dbo].[thucPham] ([tenThucPham], [donVi], [soLuong], [poster], [tenRap], [giaNhap], [giaBan]) VALUES (N'7 Up-300ml', N'chai', 100, NULL, N'Hola', 5000, 1000)
INSERT [dbo].[thucPham] ([tenThucPham], [donVi], [soLuong], [poster], [tenRap], [giaNhap], [giaBan]) VALUES (N'Bong Ngo size to', N'goi', 1003, NULL, N'Hola', 20000, 50000)
INSERT [dbo].[thucPham] ([tenThucPham], [donVi], [soLuong], [poster], [tenRap], [giaNhap], [giaBan]) VALUES (N'Coca', N'lon 200ml', 9996, NULL, N'Hola', 50000, 150000)
INSERT [dbo].[ve] ([tenPhim], [tenRap], [khanDaiID], [ngayChieu], [suatChieu], [gheID], [giaVe], [donHangID]) VALUES (N'NHÍM SONIC', N'Hola', N'A', CAST(N'2020-03-24T17:43:31.977' AS DateTime), N'16-18', N'0b', 50000, 38)
INSERT [dbo].[ve] ([tenPhim], [tenRap], [khanDaiID], [ngayChieu], [suatChieu], [gheID], [giaVe], [donHangID]) VALUES (N'NHÍM SONIC', N'Hola', N'A', CAST(N'2020-03-24T17:43:31.980' AS DateTime), N'16-18', N'0c', 50000, 38)
INSERT [dbo].[ve] ([tenPhim], [tenRap], [khanDaiID], [ngayChieu], [suatChieu], [gheID], [giaVe], [donHangID]) VALUES (N'NHÍM SONIC', N'Hola', N'A', CAST(N'2020-03-24T17:43:31.983' AS DateTime), N'16-18', N'0d', 50000, 38)
ALTER TABLE [dbo].[donHangVe]  WITH CHECK ADD  CONSTRAINT [FK_email_donHangVe_account] FOREIGN KEY([email])
REFERENCES [dbo].[account] ([email])
GO
ALTER TABLE [dbo].[donHangVe] CHECK CONSTRAINT [FK_email_donHangVe_account]
GO
ALTER TABLE [dbo].[giaVeCuaGhe]  WITH CHECK ADD  CONSTRAINT [FK_gheID_giaVeCuaGhe_ghe] FOREIGN KEY([gheID])
REFERENCES [dbo].[ghe] ([gheID])
GO
ALTER TABLE [dbo].[giaVeCuaGhe] CHECK CONSTRAINT [FK_gheID_giaVeCuaGhe_ghe]
GO
ALTER TABLE [dbo].[giaVeCuaGhe]  WITH CHECK ADD  CONSTRAINT [FK_giaVeCuaGhe_giaVeCuaGhe] FOREIGN KEY([tenRap], [khanDaiID], [ngayChieu], [suatChieu])
REFERENCES [dbo].[keHoachVe] ([tenRap], [khanDaiID], [ngayChieu], [suatChieu])
GO
ALTER TABLE [dbo].[giaVeCuaGhe] CHECK CONSTRAINT [FK_giaVeCuaGhe_giaVeCuaGhe]
GO
ALTER TABLE [dbo].[keHoachVe]  WITH CHECK ADD  CONSTRAINT [FK_tenPhim_keHoachVe_phim] FOREIGN KEY([tenPhim])
REFERENCES [dbo].[phim] ([tenPhim])
GO
ALTER TABLE [dbo].[keHoachVe] CHECK CONSTRAINT [FK_tenPhim_keHoachVe_phim]
GO
ALTER TABLE [dbo].[keHoachVe]  WITH CHECK ADD  CONSTRAINT [FK_tenRap_keHoachVe_rap] FOREIGN KEY([tenRap])
REFERENCES [dbo].[rap] ([tenRap])
GO
ALTER TABLE [dbo].[keHoachVe] CHECK CONSTRAINT [FK_tenRap_keHoachVe_rap]
GO
ALTER TABLE [dbo].[thucPham]  WITH CHECK ADD  CONSTRAINT [FK_thucPham_rap] FOREIGN KEY([tenRap])
REFERENCES [dbo].[rap] ([tenRap])
GO
ALTER TABLE [dbo].[thucPham] CHECK CONSTRAINT [FK_thucPham_rap]
GO
ALTER TABLE [dbo].[ve]  WITH CHECK ADD  CONSTRAINT [FK_ve_donHangVe] FOREIGN KEY([donHangID])
REFERENCES [dbo].[donHangVe] ([donHangVeID])
GO
ALTER TABLE [dbo].[ve] CHECK CONSTRAINT [FK_ve_donHangVe]
GO
USE [master]
GO
